.blockWrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.blockWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 100%;
    width: 1rem;
}

[contentEditable] {
    outline: none;
}

[contentEditable]:before {
    content: attr(placeholder);
    position: absolute;
    pointer-events: none;
    opacity: 0.3;
    transition: 0.2s;
}

[data-empty=false] [contentEditable]:before {
    transition: 0s;
}

[data-empty=false] [contentEditable]:before,
.common [data-empty=true] [contentEditable]:before {
    opacity: 0;
    visibility: hidden;
}

.common [data-empty=true] [contentEditable]:focus:before {
    opacity: 0.3;
    visibility: visible;
}

.header {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
}

.subHeader {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.subSubHeader {
    margin-top: 1.25rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.flexWrapper {
    position: relative;     /* нужен? */
    display: flex;
    color: inherit;
}

.itemInner {
    max-width: 100%;
    width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 0.25rem;
    font: inherit;
}

.toggleWrapper {
    position: absolute;
    left: -1rem;
    width: 1rem;
    margin: 0.25rem 0;
}

.toggle {
    background-color: rgb(0, 0, 0, 0);
    position: relative;
    width: 1em;
    height: 1em;
    right: 0;
    top: 0;
    cursor: pointer;
    vertical-align: middle;
    opacity: 0.3;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
