.pageOuter {
    position: relative;
    height: 100vh;
    background-color: initial;
    overflow: hidden;
}

.pageInner {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    background-color: white;
    fill: currentcolor;
    transition: height 0.1s;
}

.cursorListener {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: white;
}

.mainWorkspace {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    height: 44px;
    max-width: 100vw;
    padding: 0 1em;
    align-items: center;

    background: white;
    user-select: none;
}

.navbarToggleSection {
    margin-right: 2em;
}

.main {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    height: calc(-44px + 100vh);
    max-height: 100%;
    position: relative;
    cursor: text;
}

.mainContent {
    display: contents;
}

.textArea {
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: [start] 96px [content-start] 1fr [content-end] 96px [end];
    width: 100%;
    /*padding-bottom: 20vh;*/
}

.gridContent {
    grid-column: content;
}

.gridContentTitle {
    composes: gridContent;
    font-weight: bolder;
}

.gridContentMain {
    composes: gridContent;
    padding-top: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-bottom: 20vh;
}
