.outside {
    flex-grow: 0;
    flex-shrink: 0;
}

.divider {
    margin: 0 1em;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: rgba(15, 15, 15, 0.05);
    border-bottom-width: thin;
}

.list {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0.5em 0;
    cursor: pointer;
}

.itemOuter {
    display: flex;
    user-select: none;
    transition: background-color 0.2s;
    cursor: pointer;
    /*width: 100%;*/
    border-radius: 0.5em;
    color: inherit;
    fill: currentcolor;
}

.itemOuter:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.itemOuterOutside {
    composes: itemOuter;
    min-width: 0;
    width: auto;
    margin: 0.5em;
    align-items: center;
}

.itemInner {
    display: flex;
    width: 100%;
    min-height: 2em;
    height: 30px;
    align-items: center;
    padding: 0.25em 0.5em;
    overflow: hidden;
}

.icon {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.nameOuter {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    /*white-space: nowrap;*/
    min-width: 0;
    /*overflow: hidden;*/
}

.nameInner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
